{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark" >
  
  <img src="{% static 'img/zLogo1.png' %}" class="rounded float-left" alt="Logo">
  <a class="navbar-brand" href="/">JDavidZ.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto ">
      <li class="nav-item {% if request.path == '/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:homepage' %}"><span class="glyphicon glyphicon-home" style="font-size:20px;color:red;"></span> Home </a>        
      </li>
      <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:homepage' %}#about"><span class="glyphicon glyphicon-info-sign" style="font-size:20px;color:red;"></span> About </a>
      </li>      
      <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:homepage' %}#contact"> <span class="glyphicon glyphicon-envelope" style="font-size:20px;color:red;"></span> Contact</a>
      </li>
      <li class="nav-item {% if request.path == '/projects/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'main:projectspage' %}">Projects <span class="glyphicon glyphicon-fire" style="font-size:20px;color:red;"></span></a>
      </li>
    </ul> 

    {% if user.is_authenticated %}

      
    {% endif %}
    
    
  </div>  
</nav>
