{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="container1" class="container-fluid d-flex align-items-center flex-column" style="min-height:690px;color:red;">
      
    <div class="row align-items-center">
        <h1 style="font-size:74px;font-weight:bold;color:black;">Hello World, </h1>         
    </div>

    <div class="row align-items-center">
        <h1 style="font-size:74px;font-weight:bold;color:blue;">I am &nbsp;</h1>        
        <h1 id="name">JDavidZ.com</h1>        
    </div>

    <div class="row align-items-center align-self-end mt-auto" style="position:fixed;height:1025px;">
        <h1 style="font-size:74px;"><strong>*#*</strong></h1>                 
    </div>
    
</div>

<div id="container2" class="row d-flex justify-content-center align-items-center border border-danger" style="min-height:790px;padding:50px;">            
    <div class="col-xl-4" style="z-index:1;">
    <h1>About JDavidZ.com</h1>    
    <h1 style="font-size:74px;font-weight:bold;color:red;">Developer</h1>
    <h1 style="font-size:74px;font-weight:bold;color:red;">Front End</h1>
    <h1 style="font-size:74px;font-weight:bold;color:red;">Back End</h1>
    </div>
    
</div>

<div id="container3" class="row d-flex justify-content-center align-items-center border border-danger" style="min-height:850px;padding:50px;">
    <div class="col-12" style="width:auto;z-index:1;">
        <h1>Contact Me</h1>
    </div>
    <div class="col-12 contactform" style="width:auto;z-index:1;">
        <div class='text-center'>
            <h1>{{ title }}</h1>
            <div>
            <a href="#"><span class="icon-twitter"></span></a>   
            </div>
            <h1>Hello World, I'm working right now...</h1>
            <h1>But if You would like to get in touch with me you can do so on</h1>
            <h1>linkin @ #, on facebook @, on instagran @ .</h1>
            <br>
            <h1>OR</h1>
            <h1>You can just fill the form below</h1>
        </div>
        {% include 'form.html' %}
        <div class='row'>
            <img src="https://img.icons8.com/material/64/000000/twitter--v1.png">
            <img src="https://img.icons8.com/bubbles/50/000000/google-logo.png">
            <img src="https://img.icons8.com/dusk/64/000000/facebook-new--v2.png">
        </div>
        <div>
            <i class="glyphicon glyphicon-remove"></i>
            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>   
            <i class="material-icons">warning</i>
            
        </div>
    </div>
    
</div>





{% endblock %}